<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blockchain</title>
    <script type="text/javascript">
        function check()
        {
            for (let i=0; i<document.form.elements.length-1; i++)
            {
                if (document.form.elements[i].value==="")
                {
                    alert("当前表单不能有空项");
                    document.form.elements[i].focus();
                    return false;
                }
            }
            return true;
        }
    </script>
</head>
<body>
    <div style="text-align: center">
        <h1>技术支持登记</h1>
        {% if message %}
            <p style="color: blue">{{ message }}</p>
        {% endif %}
        <form name="form" method="post" onSubmit="return check()">
            <table style="margin: auto">
                <tr><td style="text-align: right">人员：</td><td><label>
                    <input type="text" placeholder="name" name="name">
                </label></td></tr>
                <tr><td style="text-align: right">支持类型：</td><td><label>
                    <input type="text" placeholder="manner" name="manner">
                </label></td></tr>
                <tr><td style="text-align: right">技术范畴：</td><td><label>
                    <input type="text" placeholder="scope" name="scope">
                </label></td></tr>
                <tr><td style="text-align: right">支持详情：</td><td><label>
                    <input type="text" placeholder="detail" name="detail">
                </label></td></tr>
                <tr><td style="text-align: right">地区：</td><td><label>
                    <input type="text" placeholder="region" name="region">
                </label></td></tr>
                <tr><td style="text-align: right">标签：</td><td><label>
                    <input type="text" placeholder="tag" name="tag">
                </label></td></tr>
                <tr><td style="text-align: right">开始时间：</td><td><label>
                    <input type="text" placeholder="time" name="time">
                </label></td></tr>
                <tr><td style="text-align: right">时长：</td><td><label>
                    <input type="text" placeholder="duration" name="duration">
                </label></td></tr>
                <tr><td style="text-align: right">产品：</td><td><label>
                    <input type="text" placeholder="product" name="product">
                </label></td></tr>
                <tr><td style="text-align: right">部门：</td><td><label>
                    <input type="text" placeholder="department" name="department">
                </label></td></tr>
                <tr><td style="text-align: right">联系人：</td><td><label>
                    <input type="text" placeholder="contact" name="contact">
                </label></td></tr>
                <tr><td colspan="2"><input type="submit" value="添加链" style="margin-top: 10px"/></td></tr>
            </table>
        </form>
        <button onclick="window.open('{{ url_for("view_chain") }}')" style="margin-left: 5px; margin-top: 10px">查看链</button>
        <br/>
        <button onclick="window.open('{{ url_for("view_nodes") }}')" style="margin-top: 15px">查看其它节点</button>
    </div>
</body>
</html>
